.products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.products__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(15rem - 1rem);
  width: calc(25% - 1rem);
  border: 1px solid #e2e2e2;
  padding: 1rem;
}

.products__card__image {
  height: calc(100% - 4rem);
  width: 100%;
  object-fit: contain;
}
.products__card__texts__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__card__texts__wrapper__header {
  font-size: 1.5rem;
}
